<!DOCTYPE html>

<html lang="en">

<h1>TinyApp</h1>

<body>
  <%if(user){%>
    <p>Welcome: <b><%=user.email%></b></p>
    <form class="inline-form" method="POST" action='/logout'>
      <button type="submit" class="btn btn-primary">Logout</button>
    </form>
    <%} else {%>
    <div style="float: right; margin-right:2em;"><a href="/register">Register</a> | <a href="/login">Login</a></div>
    <%}%>
</html>